.classification-reason-info-balloon
{
   background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #808080;
   border-radius: 10px 10px 10px 10px;
   box-shadow: 0 0 10px #000000;
   color: #333333;
   left: 50px;
   margin-top: -20em;
   margin-left: -18em;
   padding: 15px;
   position: relative;
   top: 180px;
   width: 30em;
}

.classification-reason-info-balloon .closeButton
{
   background: url("../../../themes/default/images/sprite.png") no-repeat scroll 0 -300px transparent;
   cursor: pointer;
   float: right;
   text-indent: -999em;
   width: 25px;
}

.classification-reason-info-balloon .text
{
   margin-top: 15px;
   margin-bottom: 10px;
}