<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG AllTestSuite" verbose="1" >
   <test name="AllTests">
      <classes>
         <class name="org.alfresco.rm.UnfiledRecordsContainerIntTest"/>
         <class name="org.alfresco.rm.VanillaRecordsManagementSiteIntTest"/>
      </classes>
   </test>
</suite>