.classification-label
{
   border: 1px solid #da4453;
   border-radius: 5px;
   clear: left;
   margin-bottom: 5px;
   padding: 0px 15px 0px 15px;
   color: #da4453;
   font-family: Helvetica, sans-serif;
   display: inline-block;
   background-color: transparent;
   background-image: none;
   line-height: 23px;
}