<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG AllTestSuite" verbose="1" parallel="none">
	
	<test name="Create RM Site Test" time-out="600000">
		<groups>
			<run>
				<exclude name="rmBugs" />
			</run>
		</groups>
		<classes>
			<class name="org.alfresco.rm.sanity.CreateRMSiteTest" />
		</classes>
	</test> 
	<test name="Manage Incomplete Records Test" time-out="600000">
		<groups>
			<run>
				<exclude name="rmBugs" />
			</run>
		</groups>
		<classes>
			<class name="org.alfresco.rm.sanity.ManageIncompleteRecordsTest" />
		</classes>
	</test>
	<!-- <test name="Create FilePlan Test" time-out="600000">
		<groups>
			<run>
				<exclude name="rmBugs" />
			</run>
		</groups>
		<classes>
			<class name="org.alfresco.rm.sanity.CreateFilePlanTest" />
		</classes>
	</test>
	<test name="Manage Complete Records Test" time-out="600000">
		<groups>
			<run>
				<exclude name="rmBugs" />
			</run>
		</groups>
		<classes>
			<class name="org.alfresco.rm.sanity.ManageCompleteRecordsTest" />
		</classes>
	</test>
	 -->
</suite>
      
