<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG AllTestSuite" verbose="1" >
   <test name="AllTests">
      <groups>
         <run>
            <exclude name="rmBugs"/>
         </run>
      </groups>
      <packages>
         <package name="org.alfresco.po.rm.unit.*" />
         <package name="org.alfresco.po.rm.regression.*" />
         <package name="org.alfresco.po.rm.functional.*" />
      </packages>
   </test>
</suite>