.security-clearance-user-avatar img
{
   width: 40px;
   height: 40px;
   margin-left: 10px;
   margin-top: 5px;
   border-radius: 20px;
   box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3);
}

.security-clearance-filter
{
   padding-left: 15px;
   padding-top: 15px;
}

.security-clearance-user-name
{
   display: block;
   padding-top: 10px;
}

.security-clearance-user-classification-level
{
   display: block;
   padding-top: 10px;
}