#rm-relationships-table
{
   background-color: rgba(250, 250, 250, 1);
   border-bottom: 1px solid lightgray;
   border-top: 1px solid lightgray;
   margin-top: 20px;
}

.rm-relationship-toolbar-label
{
   font-size: 123.1%;
   padding: 5px 0;
}

#RM_RELATIONSHIP_TOOLBAR
{
   border-bottom: 1px solid #d3d3d3;
   padding-bottom: 0.12em;
   padding-top: 0.1em;
}

#RM_RELATIONSHIP_TOOLBAR .left-widgets .horizontal-widget
{
   margin-left: -2px;
   margin-top: 3px;
}

.alfresco-buttons-AlfButton.rm-relationship-toolbar-add-button
{
   background-color: transparent;
   border-color: transparent;
   margin-right: 5px;
}

.rm-relationship-toolbar-add-button span[role=button]
{
   background: url("../../../../components/images/add-icon-16.png") no-repeat scroll 1px 1px transparent;
   font-size: 12px;
   margin-left: -5px;
   margin-right: -7px;
   padding-left: 20px;
}

.rm-relationship-table-relationship-name .value
{
   font-size: 110.1%;
}

.rm-relationship-table-record-name
{
   font-size: 123.1%;
   text-decoration: none;
}

.rm-relationship-table-record-name:hover
{
   text-decoration: underline;
}

.rm-relationship-table-record-identifier .label,
.rm-relationship-table-record-version .label
{
   color: #606060;
}

.alfresco-buttons-AlfButton.rm-relationship-select-record-dialog-up-button
{
   margin-bottom: -25px;
   margin-left: 5px;
   margin-top: 20px;
}

#RM_RELATIONSHIP_SELECT_RECORD_DIALOG_PICKED_ITEM_CONTENT
{
   width: 400px;
   max-width: 400px;
}

#RM_RELATIONSHIP_SELECT_RECORD_DIALOG_DOCUMENT_LIST_CONTENT
{
   margin-top: 22px;
   width: 400px;
   max-width: 400px;
   position:relative;
}

.rm-relationship-select-record-dialog-container
{
   margin-top: -20px;
}

#ADD_RELATIONSHIP_DIALOG .rm-relationship-select-record-form-control
{
   margin-left: 20em;
   margin-top: -40px;
   margin-bottom: 20px;
   text-align: right;
}

.rm-relationship-select-record-form-info,
.rm-relationship-select-record-form-info-selected
{
   background-color: rgba(250, 250, 250, 1);
   border-color: lightgray;
   border-style: solid;
   border-width: 1px 0;
}

.rm-relationship-select-record-form-info-selected
{
   margin-top: 20px;
}

.rm-relationship-select-record-form-select
{
   margin-top: 17px;
}

.alfresco-forms-controls-BaseFormControl.rm-relationship-select-record-form-select .control table.dijitTextBoxFocused,
.alfresco-forms-controls-BaseFormControl.rm-relationship-select-record-form-select .control table.dijitActive,
.alfresco-forms-controls-BaseFormControl.rm-relationship-select-record-form-select .control table.dijitFocused,
.alfresco-forms-controls-BaseFormControl.rm-relationship-select-record-form-select .control table.dijitSelectHover,
.alfresco-buttons-AlfButton.rm-relationship-select-record-button.dijitButton.dijitButtonFocused.dijitFocused
{
   border-color: rgb(204, 204, 204);
}

.alfresco-buttons-AlfButton.rm-relationship-select-record-button {
   margin-right:-5px;
}