/* RM-376 - ensure that calendar doesn't get lost off the end of forms
 */
.form-container .datepicker
{
   display: none;
   position: relative;
   float: right;
   z-index: 1;
   margin-left: 1.5em;
}

/* RM-5794 - allow scrolling on yui select lists that are very slow
 */
.rm-audit .yuimenu .yui-menu-body-scrolled
{
   overflow: auto;
}
