.reclassification-information {
    display: block;
    background-position-y: 9px;
}

/* Add some space under the form tabs */
#CLASSIFY_CONTENT_DIALOG .dijitTabContainerTop-container {
    padding-top: @standard-line-height;
}

/* TODO: Remove this code after AKU-469 has been resolved. */
/* This code is copied from BaseFormControl.css, with the following modifications: */
/*   - addition of ID so the fix applies only to classification dialog */
/*   - removal of the ">" between form and BaseFormControl class in order to apply styles to controls inside a layout container */
#CLASSIFY_CONTENT_DIALOG.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form.root-dialog-form > form .alfresco-forms-controls-BaseFormControl {
    min-width: @dialog-control-section +2;

    .description-row > .description {
        margin: 0 0 @standard-line-height @dialog-label-section +4;
    }

    .title-row {
        display: inline;
        float: left;
        width: @dialog-label-section;
        text-align: right;
        margin-right: 8px;
        margin-top: 2px;

        > label:after {
            content: ":";
        }

        > .validation-message {
            margin: 7px 0 0 -5px;

            &.display {
                display: block;
            }
        }
    }
}


