.info-banner a.item-rejected-record-info
{
   /* FIXME: Change image */
   background-image: url("../../rm/components/documentlibrary/images/file-document-16.png");
   background-repeat: no-repeat;
   float: right;
   padding: 0 20px 0 0;
}

.info-banner a.item-rejected-record-info:hover
{
   text-decoration: none;
}

.info-banner a.item-rejected-record-close
{
   /* FIXME: Change image */
   background-image: url("../../rm/components/documentlibrary/images/select-none-rm-16.png");
   background-repeat: no-repeat;
   float: right;
   padding: 0 20px 0 0;
}

.info-banner a.item-rejected-record-close:hover
{
   text-decoration: none;
}

.rejected-record-info .rejected-record-info-elements > div
{
   margin: 0.5em;
}

.rejected-record-info .rejected-record-info-elements > div.description > label
{
   display: table;
   font-size: 110%;
   margin-left: 0.5em;
}

.rejected-record-info .rejected-record-info-elements > div.elements > label
{
   display: table;
   font-weight: 600;
   margin-left: 0.5em;
}

.rejected-record-info .rejected-record-info-elements > div > input,
.rejected-record-info .rejected-record-info-elements > div > textarea
{
   margin: 0.5em;
   width: 34em;
}

.rm-recorded-version-config select[id$=-recordedVersions]
{
   margin-bottom: 9px;
   margin-top: 9px;
}