.info-banner a.item-rejected-record-info
{
   /* FIXME: Change image
   See RM-RM-3967 */
   background-image: url("../../rm/components/documentlibrary/images/file-document-16.png");
   background-repeat: no-repeat;
   float: right;
   padding: 0 20px 0 0;
}

.info-banner a.item-rejected-record-info:hover
{
   text-decoration: none;
}

.info-banner a.item-rejected-record-close
{
   /* FIXME: Change image
   See RM-RM-3967 */
   background-image: url("../../rm/components/documentlibrary/images/select-none-rm-16.png");
   background-repeat: no-repeat;
   float: right;
   padding: 0 20px 0 0;
}

.info-banner a.item-rejected-record-close:hover
{
   text-decoration: none;
}

.rejected-record-info .rejected-record-info-elements > div
{
   margin: 0.5em;
}

.rejected-record-info .rejected-record-info-elements > div.description > label
{
   display: table;
   font-size: 110%;
   margin-left: 0.5em;
}

.rejected-record-info .rejected-record-info-elements > div.elements > label
{
   display: table;
   font-weight: 600;
   margin-left: 0.5em;
}

.rejected-record-info .rejected-record-info-elements > div > input,
.rejected-record-info .rejected-record-info-elements > div > textarea
{
   margin: 0.5em;
   width: 34em;
}

.rm-recorded-version-config select[id$=-recordedVersions]
{
   margin-bottom: 9px;
   margin-top: 9px;
}

.rm-recorded-version-config .bd .yui-gd .yui-u.first.rm-recorded-versions
{
   padding-right: 0.4em;
   padding-top: 0.6em;
   width: 150px;
}

.rm-recorded-version-config .rm-recorded-versions-select
{
   width: 300px;
}

.site-folder .hd .light {
   font-weight: normal;
}

.site-folder .treeview {
   height: 20em;
   overflow-y: auto;
   padding: 0.5em;
}

.site-folder .treeview {
   border: 1px solid #e0e0e0;
   height: 20em;
   margin: 0.5em;
   overflow-y: auto;
   width: 38em;
}

.site-folder .treeview .ygtvspacer {
   display: block;
   width: 18px;
}

.site-folder .treeview .ygtvchildren {
   background-color: #ffffff;
   width: 100%;
}

.site-folder .treeview .ygtvitem {
   overflow-x: visible;
}

.site-folder .ygtvitem .no-permission {
   color: #c0c0c0;
}

.site-folder .ygtvitem .folders-trimmed {
   color: #f00;
}

.site-folder .ygtvlabel,
.site-folder .ygtvlabel:link,
.site-folder .ygtvlabel:visited,
.site-folder .ygtvlabel:hover {
   background: none;
   color: #000;
   white-space: nowrap;
}

.site-folder .ygtverror,
.site-folder .ygtverror:link,
.site-folder .ygtverror:visited,
.site-folder .ygtverror:hover {
   background: red;
   color: white;
}

.site-folder .selected {
   background-color: #dceaf4;
}
/** Css style for the Add to Hold action from the Selected Items Menu from Document Library */
.toolbar .onActionAddToHold {
   background-image: url("../../rm/components/documentlibrary/actions/rm-add-to-hold-16.png");
}
