<alfresco-config>

   <!-- This is a sample rm share config custom file that just disables Declare as record action -->
   <!-- Document Library Actions config section -->
   <config evaluator="string-compare" condition="DocLibActions">

         <!--  DM Actions -->
      <actions>
         <!--  Declare As Record -->
         <action id="rm-create-record" type="javascript" label="actions.create-record" icon="../../../rm/components/documentlibrary/actions/rm-create-record">
            <param name="function">onActionSimpleRepoAction</param>
            <param name="action">create-record</param>
            <param name="success">onCreateRecordSuccess</param>
            <param name="successMessage">message.create-record.success</param>
            <param name="failureMessage">message.create-record.failure</param>
            <permissions>
               <permission allow="true">Write</permission>
            </permissions>
            <!--  Can only create the record if editable by current user, is not locked, is not a working copy, is not synced,
                  is not reject as record and the rm site exists -->
            <evaluator>evaluator.doclib.action.editableByCurrentUser</evaluator>
            <evaluator negate="true">evaluator.doclib.action.isLocked</evaluator>
            <evaluator negate="true">evaluator.doclib.action.isWorkingCopy</evaluator>
            <evaluator negate="true">evaluator.rm.doclib.isRejectedRecord</evaluator>
            <evaluator>evaluator.doclib.action.siteBased</evaluator>
            <evaluator>evaluator.rm.doclib.action.rmSiteExists</evaluator>
            <evaluator>evaluator.rm.doclib.isUserRecordContributor</evaluator>
            <evaluator>evaluator.doclib.action.disableAction</evaluator>
         </action>
      </actions>
   </config>
</alfresco-config>
