.classified-banner
{
   padding: 0.5em 1em;
   margin-top: 1.0em;
}

.classified-info
{
   line-height: 1.5em;
   padding: 1px 0 1px 20px;
   background-image: url(../../../components/images/warning-16.png);
   background-repeat: no-repeat;
   background-position: -1px 1px;
}