#relationships.alfresco-core-ProcessWidgets.alfresco-core-Page.allWidgetsProcessed
{
   background-color: rgba(250, 250, 250, 1);
   border-bottom: 1px solid lightgray;
   border-left: 0 solid lightgray;
   border-top: 1px solid lightgray;
   border-width: 1px 0;
   margin-top: 20px;
}

#relationships .left-widgets .horizontal-widget
{
   margin-left: -1px;
   margin-top: 4px;
}

.alfresco-buttons-AlfButton.relationship-button
{
   background: url("../../../js/alfresco/forms/controls/css/images/add-icon-16.png") no-repeat scroll 4px 4px transparent;
   background-color: transparent;
   border-color: transparent;
   font-size: 12px;
   margin-right: 3px;
   padding-left: 9px;
}

.alfresco-buttons-AlfButton.relationship-button .dijitButtonContents
{
   padding-left: 7px;
   padding-right: 0;
}

.alfresco-buttons-AlfButton.relationship-button.dijitButtonFocused,
.alfresco-buttons-AlfButton.relationship-button.dijitButtonHover
{
   border: 1px solid #ccc;
}

.alfresco-core-ProcessWidgets .relationshipToolbar
{
   border-bottom: 1px solid #d3d3d3;
   padding-bottom: 0.12em;
   padding-top: 0.1em;
}

.alfresco-core-ProcessWidgets .relationshipToolbarLabel
{
   font-size: 123.1%;
   margin-left: 1em;
}

.alfresco-core-ProcessWidgets .relationshipPickerParentNav
{
   margin-left: 5px;
   margin-bottom: -35px;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-core-ProcessWidgets .alfresco-pickers-Picker .sub-pickers > .alfresco-lists-AlfList
{
   margin-top: 22px;
   width: 400px;
   max-width: 400px;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-core-ProcessWidgets .alfresco-pickers-Picker .picked-items > .alfresco-documentlibrary-views-layouts-AlfDocumentListView
{
   width: 400px;
   max-width: 400px;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-core-ProcessWidgets.alfresco-layout-VerticalWidgets
{
   margin-top: -18px;
}

div[id^="alfresco_rm_forms_controls_AlfRmRecordPickerControl"].alfresco-forms-controls-BaseFormControl
{
   margin-left: 20em;
   margin-top: -40px;
   margin-bottom: 20px;
}

.alfresco-forms-Form .alfresco-lists-AlfList .alfresco-documentlibrary-views-layouts-AlfDocumentListView
{
   background-color: rgba(250, 250, 250, 1);
   border-color: lightgray;
   border-style: solid;
   border-width: 1px 0;
}

.alfresco-dialog-AlfDialog .dialog-body .alfresco-forms-Form .alfresco-forms-controls-DojoSelect
{
   margin-top: 17px;
}