/* Header- and Navigation-Bar Buttons */

.toolbar .import button
{
   background: transparent url(actions/rm-import-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}
.toolbar .import .yui-button-disabled button
{
   background-image: url(actions/rm-import-disabled-16.png);
}

.toolbar .export-all button
{
   background: transparent url(actions/rm-export-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}
.toolbar .export-all .yui-button-disabled button
{
   background-image: url(actions/rm-export-disabled-16.png);
}

.toolbar .manage-permissions button
{
   background: transparent url(../../../components/documentlibrary/actions/folder-manage-permissions-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}
.toolbar .manage-permissions .yui-button-disabled button
{
   background-image: url(actions/folder-manage-permissions-disabled-16.png);
}

.toolbar .report button
{
   background: transparent url(actions/rm-file-report-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .manage-rules button
{
   background: transparent url(actions/folder-manage-rules-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .selected-items
{
   float: left;
}

/* Multi-Select Actions */

.toolbar .onActionAccession
{
   background-image: url(actions/rm-accession-16.png);
}

.toolbar .onActionCutoffRecord
{
   background-image: url(actions/rm-cutoff-16.png);
}

.toolbar .onActionCutoffRecordFolder
{
   background-image: url(actions/rm-cutoff-folder-16.png);
}

.toolbar .onActionCutoffRecordCategory
{
   background-image: url(actions/rm-cutoff-folder-16.png);
}

.toolbar .onActionDestroy
{
   background-image: url(actions/rm-destroy-16.png);
}

.toolbar .onActionExport
{
   background-image: url(actions/rm-export-16.png);
}

.toolbar .onActionLinkTo
{
   background-image: url(actions/rm-link-to-16.png);
}

.toolbar .onActionFileTo
{
   background-image: url(actions/rm-link-to-16.png);
}

.toolbar .onActionSplitEmail
{
   background-image: url(actions/rm-split-email-16.png);
}

.toolbar .onActionTransfer
{
   background-image: url(actions/rm-transfer-16.png);
}

.toolbar .onActionTransferComplete
{
   background-image: url(actions/rm-transfer-complete-16.png);
}

.toolbar .onActionUndoCutoff
{
   background-image: url(actions/rm-undo-cutoff-16.png);
}

.toolbar .onActionCopyRecordTo
{
   background-image: url(actions/rm-copy-record-to-16.png);
}

.toolbar .onActionCopyUnfiledRecordTo
{
   background-image: url(actions/rm-copy-record-to-16.png);
}

.toolbar .onActionCopyRecordFolderTo
{
   background-image: url(actions/rm-copy-folder-to-16.png);
}

.toolbar .onActionCopyUnfiledRecordFolderTo
{
   background-image: url(actions/rm-copy-folder-to-16.png);
}

.toolbar .onActionCopyRecordCategoryTo
{
   background-image: url(actions/rm-copy-folder-to-16.png);
}

.toolbar .onActionMoveRecordTo
{
   background-image: url(images/move-record-to-16.png);
}

.toolbar .onActionMoveUnfiledRecordTo
{
   background-image: url(images/move-record-to-16.png);
}

.toolbar .onActionMoveRecordFolderTo
{
   background-image: url(images/move-folder-to-16.png);
}

.toolbar .onActionMoveUnfiledRecordFolderTo
{
   background-image: url(images/move-folder-to-16.png);
}

.toolbar .onActionMoveRecordCategoryTo
{
   background-image: url(images/move-folder-to-16.png);
}

.toolbar .onActionDeleteRecord
{
   background-image: url(images/delete-record-16.png);
}

.toolbar .onActionDeleteRecordFolder
{
   background-image: url(../../../components/documentlibrary/actions/folder-delete-16.png);
}

.toolbar .onActionDeleteRecordCategory
{
   background-image: url(../../../components/documentlibrary/actions/folder-delete-16.png);
}

.toolbar .onActionAddToHoldRecord
{
   background-image: url(../../../rm/components/documentlibrary/actions/rm-add-to-hold-16.png);
}

.toolbar .onActionAddToHoldRecordFolder
{
   background-image: url(../../../rm/components/documentlibrary/actions/rm-add-to-hold-folder-16.png);
}

.toolbar .onActionRemoveFromHold {
   background-image: url(../../../rm/components/documentlibrary/actions/rm-remove-from-hold-16.png);
}

/* Messages (e.g. Delete confirmation) */
.toolbar-file-list span.record-category,
.toolbar-file-list span.record-folder
{
   background-image: url(indicators/rm-open-16.png);
}

.toolbar-file-list span.record,
.toolbar-file-list span.undeclared-record
{
   background-image: url(../../../components/images/generic-16.png);
}

.form-container .form-fields
{
   border-bottom: medium none;
   padding: 1em;
}
